# Introduction
The CIA Wolrd Factbook is a compendium of statisitcs about all of the countries on Earth. It contains demographic information such as:

- `population` - the global population.
- `population_growth` - the annual population growth rate, as a percentage.
- `area` - the total land and water area.

This project will utilize SQL to analyze data from this database.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

# here we can see the table name is 'facts'

Done.
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # here we can see the table name is 'facts']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

Let's inspect the first five rows of the `facts` table

In [3]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Here are some descriptions of the variable names:

- `name` — the name of the country.
- `area` — the country's total area (both land and water).
- `area_land` — the country's land area in square kilometers.
- `area_water` — the country's waterarea in square kilometers.
- `population` — the country's population.
- `population_growth` — the country's population growth as a percentage.
- `birth_rate` — the country's birth rate, or the number of births per year per 1,000 people.
- `death_rate` — the country's death rate, or the number of death per year per 1,000 people.

Let's run some descriptive statsistics to look for any outlier countries on the population variables.

In [4]:
%%sql
SELECT MIN(population) AS min_population,
       MAX(population) AS max_population,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) AS max_pop_growth
  FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

Weird, looks like there is a country with a population of zero. That can't be right. There's also a country with an excess of 7 billion people.

Let's use some queries to specifically inspect these countries.

In [5]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MIN(population)
                       FROM facts
                    );

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

Looks like this country with no population is Antarctica!

In [6]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MAX(population)
                       FROM facts
                    );

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

...and it is no country that has a population this large, but the whole world.

We can check that against computing the actual sum of the population variable in the database (excluding `World`)

In [7]:
%%sql
SELECT SUM(population)
  FROM facts
 WHERE name != 'World';

Done.

[(7770482643,)]

Looks like my hypothesis was wrong - this computed value is bigger by about 500 million. It could be that the database includes other aggregates by continent, group, etc.

Let's inspect each individual name in the dataset and their respective population sums

In [8]:
%%sql
SELECT name, SUM(population) AS population
  FROM facts
 GROUP BY name

Done.

[('Afghanistan', 32564342),
 ('Akrotiri', 15700),
 ('Albania', 3029278),
 ('Algeria', 39542166),
 ('American Samoa', 54343),
 ('Andorra', 85580),
 ('Angola', 19625353),
 ('Anguilla', 16418),
 ('Antarctica', 0),
 ('Antigua and Barbuda', 92436),
 ('Arctic Ocean', None),
 ('Argentina', 43431886),
 ('Armenia', 3056382),
 ('Aruba', 112162),
 ('Ashmore and Cartier Islands', None),
 ('Atlantic Ocean', None),
 ('Australia', 22751014),
 ('Austria', 8665550),
 ('Azerbaijan', 9780780),
 ('Bahamas, The', 324597),
 ('Bahrain', 1346613),
 ('Bangladesh', 168957745),
 ('Barbados', 290604),
 ('Belarus', 9589689),
 ('Belgium', 11323973),
 ('Belize', 347369),
 ('Benin', 10448647),
 ('Bermuda', 70196),
 ('Bhutan', 741919),
 ('Bolivia', 10800882),
 ('Bosnia and Herzegovina', 3867055),
 ('Botswana', 2182719),
 ('Bouvet Island', None),
 ('Brazil', 204259812),
 ('British Indian Ocean Territory', None),
 ('British Virgin Islands', 33454),
 ('Brunei', 429646),
 ('Bulgaria', 7186893),
 ('Burkina Faso', 18931686),
 ('Burma', 56320206),
 ('Burundi', 10742276),
 ('Cabo Verde', 545993),
 ('Cambodia', 15708756),
 ('Cameroon', 23739218),
 ('Canada', 35099836),
 ('Cayman Islands', 56092),
 ('Central African Republic', 5391539),
 ('Chad', 11631456),
 ('Chile', 17508260),
 ('China', 1367485388),
 ('Christmas Island', 1530),
 ('Clipperton Island', None),
 ('Cocos (Keeling) Islands', 596),
 ('Colombia', 46736728),
 ('Comoros', 780971),
 ('Congo, Democratic Republic of the', 79375136),
 ('Congo, Republic of the', 4755097),
 ('Cook Islands', 9838),
 ('Coral Sea Islands', None),
 ('Costa Rica', 4814144),
 ("Cote d'Ivoire", 23295302),
 ('Croatia', 4464844),
 ('Cuba', 11031433),
 ('Curacao', 148406),
 ('Cyprus', 1189197),
 ('Czech Republic', 10644842),
 ('Denmark', 5581503),
 ('Dhekelia', 15700),
 ('Djibouti', 828324),
 ('Dominica', 73607),
 ('Dominican Republic', 10478756),
 ('Ecuador', 15868396),
 ('Egypt', 88487396),
 ('El Salvador', 6141350),
 ('Equatorial Guinea', 740743),
 ('Eritrea', 6527689),
 ('Estonia', 1265420),
 ('Ethiopia', 99465819),
 ('European Union', 513949445),
 ('Falkland Islands (Islas Malvinas)', 3361),
 ('Faroe Islands', 50196),
 ('Fiji', 909389),
 ('Finland', 5476922),
 ('France', 66553766),
 ('French Polynesia', 282703),
 ('French Southern and Antarctic Lands', None),
 ('Gabon', 1705336),
 ('Gambia, The', 1967709),
 ('Gaza Strip', 1869055),
 ('Georgia', 4931226),
 ('Germany', 80854408),
 ('Ghana', 26327649),
 ('Gibraltar', 29258),
 ('Greece', 10775643),
 ('Greenland', 57733),
 ('Grenada', 110694),
 ('Guam', 161785),
 ('Guatemala', 14918999),
 ('Guernsey', 66080),
 ('Guinea', 11780162),
 ('Guinea-Bissau', 1726170),
 ('Guyana', 735222),
 ('Haiti', 10110019),
 ('Heard Island and McDonald Islands', None),
 ('Holy See (Vatican City)', 842),
 ('Honduras', 8746673),
 ('Hong Kong', 7141106),
 ('Hungary', 9897541),
 ('Iceland', 331918),
 ('India', 1251695584),
 ('Indian Ocean', None),
 ('Indonesia', 255993674),
 ('Iran', 81824270),
 ('Iraq', 37056169),
 ('Ireland', 4892305),
 ('Isle of Man', 87545),
 ('Israel', 8049314),
 ('Italy', 61855120),
 ('Jamaica', 2950210),
 ('Jan Mayen', None),
 ('Japan', 126919659),
 ('Jersey', 97294),
 ('Jordan', 8117564),
 ('Kazakhstan', 18157122),
 ('Kenya', 45925301),
 ('Kiribati', 105711),
 ('Korea, North', 24983205),
 ('Korea, South', 49115196),
 ('Kosovo', 1870981),
 ('Kuwait', 2788534),
 ('Kyrgyzstan', 5664939),
 ('Laos', 6911544),
 ('Latvia', 1986705),
 ('Lebanon', 6184701),
 ('Lesotho', 1947701),
 ('Liberia', 4195666),
 ('Libya', 6411776),
 ('Liechtenstein', 37624),
 ('Lithuania', 2884433),
 ('Luxembourg', 570252),
 ('Macau', 592731),
 ('Macedonia', 2096015),
 ('Madagascar', 23812681),
 ('Malawi', 17964697),
 ('Malaysia', 30513848),
 ('Maldives', 393253),
 ('Mali', 16955536),
 ('Malta', 413965),
 ('Marshall Islands', 72191),
 ('Mauritania', 3596702),
 ('Mauritius', 1339827),
 ('Mexico', 121736809),
 ('Micronesia, Federated States of', 105216),
 ('Moldova', 3546847),
 ('Monaco', 30535),
 ('Mongolia', 2992908),
 ('Montenegro', 647073),
 ('Montserrat', 5241),
 ('Morocco', 33322699),
 ('Mozambique', 25303113),
 ('Namibia', 2212307),
 ('Nauru', 9540),
 ('Navassa Island', None),
 ('Nepal', 31551305),
 ('Netherlands', 16947904),
 ('New Caledonia', 271615),
 ('New Zealand', 4438393),
 ('Nicaragua', 5907881),
 ('Niger', 18045729),
 ('Nigeria', 181562056),
 ('Niue', 1190),
 ('Norfolk Island', 2210),
 ('Northern Mariana Islands', 52344),
 ('Norway', 5207689),
 ('Oman', 3286936),
 ('Pacific Ocean', None),
 ('Pakistan', 199085847),
 ('Palau', 21265),
 ('Panama', 3657024),
 ('Papua New Guinea', 6672429),
 ('Paracel Islands', None),
 ('Paraguay', 6783272),
 ('Peru', 30444999),
 ('Philippines', 100998376),
 ('Pitcairn Islands', 48),
 ('Poland', 38562189),
 ('Portugal', 10825309),
 ('Puerto Rico', 3598357),
 ('Qatar', 2194817),
 ('Romania', 21666350),
 ('Russia', 142423773),
 ('Rwanda', 12661733),
 ('Saint Barthelemy', 7237),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795),
 ('Saint Kitts and Nevis', 51936),
 ('Saint Lucia', 163922),
 ('Saint Martin', 31754),
 ('Saint Pierre and Miquelon', 5657),
 ('Saint Vincent and the Grenadines', 102627),
 ('Samoa', 197773),
 ('San Marino', 33020),
 ('Sao Tome and Principe', 194006),
 ('Saudi Arabia', 27752316),
 ('Senegal', 13975834),
 ('Serbia', 7176794),
 ('Seychelles', 92430),
 ('Sierra Leone', 5879098),
 ('Singapore', 5674472),
 ('Sint Maarten', 39689),
 ('Slovakia', 5445027),
 ('Slovenia', 1983412),
 ('Solomon Islands', 622469),
 ('Somalia', 10616380),
 ('South Africa', 53675563),
 ('South Georgia and South Sandwich Islands', None),
 ('South Sudan', 12042910),
 ('Southern Ocean', None),
 ('Spain', 48146134),
 ('Spratly Islands', None),
 ('Sri Lanka', 22053488),
 ('Sudan', 36108853),
 ('Suriname', 579633),
 ('Svalbard', 1872),
 ('Swaziland', 1435613),
 ('Sweden', 9801616),
 ('Switzerland', 8121830),
 ('Syria', 17064854),
 ('Taiwan', 23415126),
 ('Tajikistan', 8191958),
 ('Tanzania', 51045882),
 ('Thailand', 67976405),
 ('Timor-Leste', 1231116),
 ('Togo', 7552318),
 ('Tokelau', 1337),
 ('Tonga', 106501),
 ('Trinidad and Tobago', 1222363),
 ('Tunisia', 11037225),
 ('Turkey', 79414269),
 ('Turkmenistan', 5231422),
 ('Turks and Caicos Islands', 50280),
 ('Tuvalu', 10869),
 ('Uganda', 37101745),
 ('Ukraine', 44429471),
 ('United Arab Emirates', 5779760),
 ('United Kingdom', 64088222),
 ('United States', 321368864),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Uruguay', 3341893),
 ('Uzbekistan', 29199942),
 ('Vanuatu', 272264),
 ('Venezuela', 29275460),
 ('Vietnam', 94348835),
 ('Virgin Islands', 103574),
 ('Wake Island', None),
 ('Wallis and Futuna', 15613),
 ('West Bank', 2785366),
 ('Western Sahara', 570866),
 ('World', 7256490011),
 ('Yemen', 26737317),
 ('Zambia', 15066266),
 ('Zimbabwe', 14229541)]

It's a lot to wade through, but there does appear to be some overlap in these territories, which would explain the mismatch between the world and calculated population sums.

Now, let's recalculate some summary statistics while excluding the 'World' case, which isn't a country.

In [9]:
%%sql
SELECT MIN(population) AS min_population,
       MAX(population) AS max_population,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) AS max_pop_growth
  FROM facts
 WHERE name != 'World';

Done.

[(0, 1367485388, 0.0, 4.02)]

Now, the max is about 1.4 billion. Let's calculate the averages.

In [10]:
%%sql
SELECT AVG(population), AVG(area)
  FROM facts;

Done.

[(62094928.32231405, 555093.546184739)]

This next code block will find countries with dense populations, as defined by having above-average populations and below-average areas.

In [12]:
%%sql
SELECT *
  FROM facts
 WHERE population > (SELECT AVG(population)
                       FROM facts
                      WHERE name != 'World')
   AND area < (SELECT AVG(area)
                 FROM facts
                WHERE name != 'World');

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]